body {
    background-color: bisque;
    display: flex;

}

div {
    height: 100px;
    width: 300px;
    border-radius: 4px;
}

section {
    margin: auto;
}

#polonia .branco,
#holanda .branco,
#Tailandia .branco {
    background-color: white;
}

#polonia .vermelho,
#Tailandia .vermelho{
    background-color: red;
}

#holanda .laranja {
    background-color: orange;
}

#holanda .azul,
#Tailandia .azul {
    background-color: blue;
}

#Tailandia .vermelho {
    height: 70px;
}

#Tailandia .branco {
    height: 70px;
}